body{
    background-color: rgb(32, 163, 234);
}
table{
    border-color: rgb(52, 125, 89);
    background-color: rgb(0, 92, 58);
}

br {
    background-color: rgb(16, 18, 18);
}

p {
    background-color: rgb(161, 161, 173);
}
h1 {
    background-color: rgb(143, 86, 86);
}
h2 {
    background-color: rgb(235, 250, 215);
}
table {
    background-color: rgb(47, 88, 42);
}